<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link type="text/css" media="all" href="css/home.css" rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>
<header th:fragment="header">
    <h1>Music Albums</h1>
    <ul>
        <li><a href="home.html" th:href="@{home}">Home</a></li>
        <li><a href="albums.html" th:href="@{albums}">Albums</a></li>
        <li><a href="genres.html" th:href="@{genres}">Genres</a></li>
        <li><a href="artists.html" th:href="@{artists}">Artists</a></li>
        <li><a href="groups.html" th:href="@{groups}">Groups</a></li>
        <li><a href="songs.html" th:href="@{songs}">Songs</a></li>
        <li><a href="login.html" th:href="@{logout}">Logout</a></li>
    </ul>
    </form>
</header>
</body>
</html>
