<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Album</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/home.css" th:href="@{/css/home.css}"/>
</head>
<section id="musicAlbum">
    <div class="container">
        <div th:insert="fragments/header :: header"></div>

        <div class="addeditentity">
            <form th:action="@{/albumAdd}" method="post">
                <label for="albumName">Album name:</label><br>
                <input type="text" id="albumName" name="albumName" /><br>
                <label for="releaseYear">Release Year:</label><br>
                <input type="text" id="releaseYear" name="releaseYear" /><br>
                <input type="submit" value="Add"/>
            </form>
        </div>

        <footer>
            <h3>Music Album &copy; 2023-2024</h3>
        </footer>
    </div>
</section>
</body>
</html>