<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" media="all" href="../../css/home.css" th:href="@{/css/home.css}"/>
</head>
<body>
<section id="musicAlbum">
  <div class="container">
    <div th:insert="fragments/header :: header">
      <h1>Music Albums</h1>
    </div>
    <div class="content">
      <div class="tables">
        <table border="1">
          <tr>
            <th>Album names</th>
            <th>Genres</th>
            <th>Release year</th>
            <th>Artists</th>
            <th>Groups</th>
            <th>Songs</th>
            <th>Details</th>
          </tr>
          <tr th:each="album : ${albumAssignments}">
            <td th:text="${album.albumName}">Album name</td>
            <td>
              <span th:each="genre : ${album.genres}" th:text="${genre}">Genres</span>
            </td>
            <td th:text="${album.releaseYear}">Release year</td>
            <td th:text="${album.artistName}">Artist</td>
            <td th:text="${album.groupName}">Group</td>
            <td th:text="${album.songs}">Songs</td>
            <td>
              <form th:action="@{/albumassign}" method="post">
                <input type="hidden" name="action" value="albumSelect"/>
                <input type="hidden" name="albumId" th:value="${album.id}"/>
                <button type="submit">Details</button>
              </form>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <footer>
      <h3>Music Albums &copy; 2023-2024</h3>
    </footer>
  </div>
</section>
</body>
</html>


