<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/home.css" th:href="@{/css/home.css}"/>
</head>
<body>
<section id="musicAlbum">
    <div class="container">
        <div th:insert="fragments/header :: header"></div>
        <form th:action="@{/songs}" method="get" class="search-form">
            <input type="text" name="search" placeholder="Search by song..." class="search-input"/>
            <input type="submit" value="Search" class="search-button"/>
        </form>
        <div class="tables">
            <table border="1">
                <caption>Songs</caption>
                <tr>
                    <th>Song id</th>
                    <th>Song name</th>
                    <th>Duration minutes</th>
                    <th>Duration seconds</th>
                    <th>Genre</th>
                    <th>Edit song</th>
                    <th>Remove song</th>
                </tr>
                <tr th:each="song : ${songs}">
                    <td th:utext="${song.id}">songId</td>
                    <td th:utext="${song.songName}">songName</td>
                    <td th:utext="${song.durationMinutes}">durationMinutes</td>
                    <td th:utext="${song.durationSeconds}">durationSecondss</td>
                    <td th:utext="${song.genre.name}">genre</td>
                    <td>
                        <form th:action="@{/songEditForm}" method="post">
                            <input type="hidden" name="action"
                                   value="songEdit"/>
                            <input type="hidden" name="songId"
                                   th:value="${song.id}"/>
                            <input type="submit" value="Edit"/>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/songRemove}" method="post">
                            <input type="hidden" name="action"
                                   value="songRemove"/>
                            <input type="hidden" name="songId"
                                   th:value="${song.id}"/>
                            <input type="submit" value="Remove"/>
                        </form>
                    </td>
                </tr>
            </table>
            <a href="songadd.html" th:href="@{/songAddForm}" class="add-link">Add song</a>
            <div th:insert="fragments/footer :: footer"></div>
        </div>
    </div>
</section>
</body>
</html>